.results {
    background: linear-gradient(to bottom, var(--clr-slateblue), var(--clr-royalblue));
    width: 350px;
    text-align: center;
    color: var(--clr-white);
    border-radius: 40px;
    padding: 2rem;

    position: relative;
    left: 40px;
}

.results__title1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--clr-lightlavender);
}

.results__circle {
    background: linear-gradient(to bottom, var(--clr-violetblue), var(--clr-persianblue));
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
}

.circle-title {
  font-size: 3.5rem;
  font-weight: 900;
}

.circle-text {
  color: var(--clr-lightlavender);
  opacity: 0.6;
  font-weight: 600;
  font-size: 0.9rem;
}

.results__title11 {
  font-size: 1.9rem;
}

.results__description {
  font-size: 1.1rem;
  max-width: 24ch;
  color: var(--clr-lightlavender);
  margin: 20px auto;
}

@media (max-width: 375px) {
  .results {
    position: relative;
    left: auto;
    bottom: -30px;
    width: 100%;
  }
  
  .results__title1 {
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }

  .results__circle {
    width: 150px;
    height: 150px;
  }

  .circle-title {
    font-size: 3rem;
  }

  .results__title11 {
    font-size: 1.5rem;
  }

  .results__description {
    font-size: 0.9rem;
    max-width: 30ch;
    margin: 10px auto;
  }
}

@media (max-width: 428px) {
  .results {
    position: relative;
    left: 0;
    top: 55px;
  }
}