.summary {
    background: var(--clr-white);
    width: 400px;
    font-family: var(--font-primary);
    padding: 2rem;
    padding-left: 5rem;
    border-radius: 40px;
}

.summary__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.summary__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary__box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
}

.summary-icon {
    vertical-align: middle;
}

.summary__text-reaction {
    color: var(--clr-lightred);
    font-weight: 500;
}

.reaction {
     background: hsla(0, 100%, 67%, 0.05);
}

.score {
    font-weight: 700;
}

.max {
    color: var(--clr-darkgreyblue);
    opacity: 0.7;
}

.summary__text-memory {
    font-weight: 500;
    color: var(--clr-orangey);
}

.memory {
    background: hsla(39, 100%, 56%, 0.05);
}

.summary__text-verbal {
    font-weight: 500;
    color: var(--clr-greenteal);
}

.verbal {
    background: hsla(166, 100%, 37%, 0.05);
}

.summary__text-visual {
    font-weight: 500;
    color: var(--clr-cobaltblue);
}

.visual {
    background: hsla(234, 85%, 45%, 0.05);
}

.summary__btn {
    display: inline-block;
    text-decoration: none;

    background-color: var(--clr-darkgreyblue);
    color: var(--clr-white);
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    font-weight: 600;
    margin-top: 2.5rem;
    border-radius: 50px;
}

.summary__btn:hover {
    background: linear-gradient(to bottom, var(--clr-slateblue), var(--clr-royalblue));
    transform: translateY(10px);
}

@media (max-width: 375px) {
    .summary {
        padding: 4rem 3rem ;
    }

    .summary__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    }

    .summary__box {
        font-size: 0.9rem;
    }

    .summary__btn {
        margin-top: 2rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 428px) {
    .summary {
        width: 350px;
        padding: 2rem;
        padding-top:5rem;
    }
}