body {
    background-color: var(--clr-paleblue);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
}

@media (max-width: 375px) {
    .wrapper {
        display: block;
    }
}

@media (max-width: 428px) {
    .wrapper {
        display: block;
    }
}

/* @media (max-width: 768px) {} */